@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #000;
    background: #f9f9f9;
    font-family: 'Poppins', sans-serif;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:link {
    color: #5869a8;
}

a:visited {
    color: #957;
}

table, th, td {
    margin: .4em 2.5em .4em 2.5em;
    font-size: 1em;
    border-collapse: collapse;
    border: 1px solid black;
    }

th, td {
        padding: 1em;
}

th {
    background: #cdf;
}

th.table-head {
    background: #7386D5;
}

td {
    background: #adf;
}

p {
    margin: .4em 1.5em .4em 1.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.7em;
    color: #000;
}

p.present {
    font-size: 1.6em;
}

hr {
    margin: 2em 20em 2em 20em;
}

blockquote {
    margin: .4em 6em .4em 6em;
    font-size: 1.1em;
}

ol, ul, dl, li {
    margin: 1em 1.5em .4em 1.5em;
    font-size: 1.2em;
}

ul.present, ol.present {
    font-size: 1.5em;
}

ol.contents, ul.contents, dl.contents, li.contents {
    font-size: 1.1em;
}

.contents li a {
    color: #7386D5;
}

ol.centered, ul.centered dl.centered {
    text-align: center;
    list-style-position: inside;
    font-size: 1em;
}

ol.nested, ul.nested, dl.nested {
    font-size: 1em;
}

dt {
    font-size: 1.1rem;
    font-weight: bold;
    margin: .4em 3em .4em 1em;
}

#header {
    width: auto;
    height: 5em;
    padding: .5em 2em;
    line-height: 2em;
    background-color: #cbe;
    color: #933;
    overflow: hidden;
}

#header a:link, #header a:visited {
    color: #748;
}

#header a:focus , #header a:hover {
    text-decoration: underline;
}

h1,h2,h3 {
    font-weight: bold;
}

h1 {
    margin: 0em 0em 1em 0em;
    padding-bottom: .6em;
    padding-top: .4em;
    padding-right: 2em;
    padding-left: 2em;
    text-align: center;
    font-size: 2em;
    color: #5869a8;
}

h1.no-menu {
    margin: 1em 1em 1em 1em;
    font-size: 2.3em;
}

h1#course-title {
    margin: 0em 0em 0em 0em;
}

h1.chap-title {
    margin: 0em 0em 0em 0em;
}

h2 {
    font-size: 1.7em;
    margin: 1.2em 1em .6em 4em;
    color: #7386D5;
}

h2.centered {
    margin: 1.2em 2em .6em 2em;
}

h2.subhead {
    font-weight: normal;
}

h3 {
    font-size: 1.6em;
    margin: .8em 1.2em .8em 2em;
    color: #857;
    font-weight: bold;
}

h4 {
    font-size: 1.5em;
    margin: .8em 1.6em .6em 1.6em;
    color: #339;
    font-weight: bold;
}

h5 {
    font-size: 1.4em;
    margin: .8em 1.6em .6em 1.6em;
    color: #9900cc;
    font-weight: bold;
}

summary.sum1 {
    font-size: 2em;
    color: #903;
    margin: 1em 1.2em 1em 1.2em;
}

summary.sum1a {
    font-size: 1.9em;
    color: #814;
    margin: 1em 1.2em 1em 1.2em;
}

summary.sum2 {
    font-size: 1.6em;
    color: #937;
    font-weight: 500;
    margin: .8em 1.2em .8em 2em;
}

summary.sum3 {
    font-size: 1.5em;
    color: #339;
    margin: .6em 1.2em .6em 2.8em;
}

summary.sum4 {
    font-size: 1.4em;
    color: #825;
    margin: .4em 1.2em .4em 2.8em;
}

summary.menu_sum {
    font-size: 1.4em;
    color: #639;
    margin: .5em 0em .5em 0em;
}

p.copyright {
    text-align: center;
    margin: 2em 1em 1em 1em;
    font-size: 1.1em;
    color: #857;
}

p.author {
    text-align: center;
    margin: 1em 1em 1em 1em;
    font-size: 1.5em;
    color: #936;
}

p.leadquote {
    font-style: italic;
    text-align: center;
    margin: 1em 1em 1em 2em;
    font-size: 1.1em;
    color: #428;
}

p.def {
    margin: .8em 1.5em .3em 4em;
    font-size: 1.3em;
    color: #757;
}

.lead_illus {
    text-align: center;
}

#logo {
    float: left;
    height: 100%;
}

#logo img {
  height: 100%;
}

#user-tools {
    float: right;
    padding: 0;
    margin: 0 0 0 1em;
    font-weight: 300;
    font-size: .9em;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: right;
}

figure {
    text-align: center;
}

figure.lead-figure {
    margin: 0em 1em 1em 1em;
}

figure.top-fig {
    margin: 2em 1em 0em 1em;
}

figcaption {
    color: #367;
    font-style: italic;
    text-align: center;
    margin: .8em 1em .6em 1em;
}

span.review {
    color: #7386D5;
    font-size: .8em;
}

span.frac {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

span.frac > sup, span.frac > sub {
  display: block;
  font: inherit;
  padding: 0 0.3em;
}

span.frac > sup {border-bottom: 0.08em solid;}
span.frac > span {display: none;}

.over { text-decoration: overline; }

span.emphasize {
    font-style: italic;
    color: #6600ff;
    display: inline;
}


/*****
The Wrapped div in which content will be filled
***/
#content {
    padding: 1.2em;
    min-height: 100vh;
    transition: all 0.3s;
    font-size: 174%;
    width: 100%
}

/****** Nav Bar *****/
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}



/******** Side Bar Style *********/
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 150px;
    text-align: center;
}

#sidebar.active .sidebar-header h1, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 1em 1em;
    font-size: 0.65em;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar.active ul ul ul a {
    padding: 1em 1em;
    font-size: 0.45em;
}

#sidebar .sidebar-header {
    padding-bottom: 2.8em;
    padding-top: .8em;
    padding-left: 1.6em;
    background: #5869a8;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 3.5em;
    text-align: center;
    padding-top: 0.6em;
    padding-right: 0.4em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 0.8em;
    text-align: left;
    color: #fff;
    font-size: 1.2em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#sidebar ul ul a {
    padding-left: 3.0em;
    text-align: left;
    color: #fff;
    font-size: 0.8em;
    display: block;
}

#sidebar ul ul ul a {
    padding-left: 4.0em;
    text-align: left;
    color: #fff;
    font-size: 0.5em;
    display: block;
}

#sidebar h1 {
    color: #f9f9f9;
    background-color: transparent;
    text-align: left;
    margin: 0.7em 0em 0.2em 0em;
    padding: 0em;
    font-size: 3.5em;
}

#sidebar ul {
    margin: 0em;
}

#sidebar ul li {
    margin: 0em;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

#carousel {
  width:80%;
  margin: 0 auto;
}

#searchbar {
  margin-left:10px;
}

/*******
The Nav sidebar media effect
*****/

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
    #searchbar {
      margin-left:10px;
      min-width: 80px;
      max-width: 80px;
    }
}
